<div class="jumbotron-fluid" id="navbar">
    <!-- Top Nav -->
    <section id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="fas fa-envelope d-flex align-items-center"><a href="lonulobu@gmail.com">&nbsp;Life_of_hope@gmail.com</a></i>
                <i class="fas fa-phone d-flex align-items-center ms-4"><span>&nbsp;+91 999999999</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/?lang=en" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/7878.abhishek/" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/abhishek-6847ab22a/" class="linkedin"><i class="fab fa-linkedin"></i></i></a>
            </div>
        </div>
    </section>
    <br>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="logo.jpg" class="img-fluid img-responsive" style="height: 50px; width: 120px; border-radius: 20px;" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a href="/medc">Medicine</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a href="/maps">Map</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Features
                </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" target="_blank">Resources</a></li>
                            <li><a class="dropdown-item" href="#" target="_blank">Donation</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav nav-link-item">
                <a href="#">Covid Donation</a>
                </li>                  -->
                    <li class="nav-item nav-link">
                        <a href="/blog">Blogs</a>
                    </li>

                    <!-- {{#if isAuthenticated}} -->

                    <!-- <li class="nav-item dropdown" id="logout">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDrop"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class ="fas fa-user"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDrop">
                      <li><a class="dropdown-item" href="https://www.karvykra.com/UPanSearchGlobalWithPanExempt.aspx" target="_blank">Verify</a></li> -->
                    <!--   <li><a class="dropdown-item" href="/">Logout</a></li> -->
                    <!-- <button class="dropdown-item" type="submit"  onclick="logout()">Logout</button>
                  </ul>
                </li> -->

                    <!-- {{else}} -->
                    <li class="nav-item nav-link">
                        <a id="login" href="/login">Login</a>
                    </li>
                    <li class="nav-item nav-link">
                        <a id="signin" href="/signup">Signup</a>
                    </li>
                    <!-- {{/if}}  -->
                </ul>

            </div>
        </div>
    </nav>
</div>